
body{
	padding-top: 80px;
	font-family:'Montserrat', sans-serif;
}

.menu-mobile{
	
	background: white;
	display: flex;
	position: fixed;
	width: 100%;
	height: 80px;
	justify-content: space-between;
	margin-top: -80px;
	z-index: 10000000;
	transition: all .4s;

}
 header.abajo{
	box-shadow: 0px 7px 5px -5px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 7px 5px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 7px 5px -5px rgba(0,0,0,0.75);
	transition: all .4s;
	
}
.logo{

	display: flex;
	align-items: center;
	justify-content: center;
}
.logo img{
	width: 100px;

}
.menu{
	
	display: flex;
	align-items: center;
	justify-content:right;
	padding: 30px;
	visibility: visible;
	opacity: 1;
}
.lbl-menu{
	visibility: visible;
	width: 50px;
	height: 30px;
	position: relative;
	top: -5px;

	
	
	
}

.lbl-menu #line1,#line2,#line3{
	position: absolute;
	content: '';
	background-color: #479BA5;
	width: 50px;
	height: 5px;
	border-radius: 5px;
	transition: all 400ms ease;
}
#line2{
	top: 13px;
}
#line3{
	top: 26px;
}
#btn-menu{
	display: none;
}
#btn-menu:checked ~ .lbl-menu #line1{
	transform: rotate(140deg);
	background: black;
	top: 10px;

}
#btn-menu:checked ~ .lbl-menu #line2{
	opacity: 0;

}
#btn-menu:checked ~ .lbl-menu #line3{
	transform: rotate(-140deg);
	background: black;
	top: 10px;
}
h1{
	font-weight: 700;
}
.capa{
	width: 100%;
	height: 100vh;
	visibility: hidden;
	background: black;
	opacity: 0;
	position: absolute;
	top: 80px;
	left: 0;
	transition: all .4s ease;
	z-index: 10000;
}
.container-menu{
		position: absolute;
		width: 250px;
		visibility: visible;
		opacity: 1;
		height: 200vh;
		top: -5px;
		left: 0;
		transition: all 500ms ease;
		z-index: 10500;
		transform: translateX(-1000px);
	
		
	}
	#btn-menu:checked ~ .container-menu{
		transform: translateX(-10px);
	}
	#btn-menu:checked ~ .capa{
		visibility: visible;
		opacity: .7;
		transition: opacity .4s ease;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		height: 200%;
		background: white;
		transition: all 500ms ease;
		visibility: visible;
		opacity: 1;
		
	
	

	}

	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 15px;
		color: black;
		margin: 20px;
		transition: all 400ms ease;
	}
	.redes{
		width: 100%;
		height: 50px;
		display: flex;
		background: lightgrey;
		justify-content: center;
		align-items: center;
	}
.redes1{
	font-size: 15px;
	color: black;
	margin-left: 5px;

}
.cont1{
	width: 100%;
	height: 550px;
	background-image: url(Cajas.jpg);
	display: flex;
	background-size:cover;
	background-position: center left;
	align-items: center;
	justify-content: center;
	z-index: 3;


}
.cont1 .buttonEnviar{
	background: #479BA5;
	width: 200px;
	padding: 20px;
	border-radius: 50px;
	border: none;
	position: relative;
	outline: none;
	color: white;
	font-weight: bold;
	margin: 50px 20px;
	cursor: pointer;
	z-index: 5;


}
.buttonEnviar:hover{
	background: #418A93;
}
.cont1 h2{
	margin: 20px;
	position: relative;
	z-index: 6;
}

.servicios h2{
	text-align: center;
	padding: 30px;
}
.carrussel-container{
	
	width:100%;
	height: 250px;
	overflow:auto;
	overflow-y: hidden;
	display: grid;
	margin-bottom: 20px;
	grid-template-columns: repeat(5, 100%);
	grid-template-rows: 250px;
	grid-column-gap:60px ;


	

	

}
.item-carrusel{
	z-index: 10;
	width: 250px;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px;
	margin: auto;
	text-align: center;
	
	
}

.item0{
	background-image: url(servicio1.jfif);
	background-size: cover;

}
.item-carrusel h2{
	position: relative;
	z-index: 20;
	color: #5BCBD9;
	font-size: 30px;
	text-shadow: black 1px 3px ;
}
.item-carrusel p{
	position: relative;
	z-index: 20;
	color: #fff;
	font-weight: bold;
	text-shadow: black 1px 2px 1px ;
}

.item1{
	background-image: url(servicio2.jpg);
	background-size: cover;

}
.item2{
	background-image: url(servicio3.jpg);
	background-size: cover;
}
.item3{
	background-image: url(servicio4.jpg);
	background-size: cover;
}
.item4{
	background-image: url(servicio5.jpg);
	background-size: cover;
}

.capa2{
	width: 100%;
	height: 600px;
	z-index: 4;
	background: black;
	opacity: .6;
	position: absolute;
	top: 630px;
	left: 0;
	transition: all .4s ease;

}
.content{
	width: 100%;
	height: 600px;
	background-image: url(121.jpg);
	background-attachment: fixed;
	background-position: center;
	background-origin: content-box;
	padding: 10px;

}
.content h2{
	position: relative;
	z-index: 5;
	color: white;
	font-weight: bold;
	text-align: center;
}
.content h4{
	position: relative;
	z-index: 5;
	color: #479BA5;
	text-align: center;
	font-size: 20px;
}
.formulario-registro{
	background: #5BCBD9;
	width: 100%;
	height: 400px;
	display: flex;
	position: relative;
	z-index: 6;
	align-items: center;
	justify-content: center;
	padding-bottom: 40px;


}

.formulario-registro h6{
	color: white;
	font-size: 15px;
	margin-bottom: 6px;
	text-align: left;
}
.formulario-registro .input-form{
	padding: 10px;
	font-size: 15px;
	width: 250px;
	background: #5BCBD9;
	outline: none;
	border: none;
	border-bottom: 1px solid black;
}
.formulario-registro .input-button{
	background:#479BA5 ;
	border: none;
	width: 250px;
	padding: 10px;
	color: white;
	font-size: 20px;
	cursor: pointer;
	border-radius: 50px;

}
.input-button:hover{
background:  #418A93;
}
.text{
	text-align: center;
	padding: 30px;
}
.cont3{
	width: 100%;
	height: 890px;
	background: #479BA5;
}
.cont3__mision{
	width: 100%;
	height: 430px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.cont3 b{
	font-size: 20px;
	font-weight: 400;

}
.cont3 img{
	width: 200px;
	height: 300px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
	margin-top:30px;
}
.cont3 p{
	width: 200px;
	text-align: justify;
	color: #fff;
}
.cont3__vision {
	width: 100%;
	height: 430px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.footer{
	background:#36757D ;
	width: 100%;
	height: 400px;
}