
body{
	padding-top: 80px;
	font-family:'Montserrat', sans-serif;
}

.menu-mobile{
	display: grid;
	background: white;
	grid-template-columns: 2fr 3fr;
	position: fixed;
	width: 100%;
	height: 80px;
	grid-template-rows: 80px;
	margin-top: -80px;
	z-index: 10000000;
	transition: all .4s;

}
 header.abajo{
	box-shadow: 0px 7px 5px -5px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 7px 5px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 7px 5px -5px rgba(0,0,0,0.75);
	transition: all .4s;
	
}
.logo{

	display: flex;
	align-items: center;
	justify-content: center;
}
.logo img{
	width: 100px;

}
.menu{
	
	display: flex;
	align-items: center;
	justify-content: right;
	padding: 30px;
	visibility: visible;
	opacity: 1;
}
.lbl-menu{
	visibility: visible;
	width: 50px;
	height: 30px;
	position: relative;
	top: -5px;

	
	
	
}

.lbl-menu #line1,#line2,#line3{
	position: absolute;
	content: '';
	background-color: #479BA5;
	width: 50px;
	height: 5px;
	border-radius: 5px;
	transition: all 400ms ease;
}
#line2{
	top: 13px;
}
#line3{
	top: 26px;
}
#btn-menu{
	display: none;
}
#btn-menu:checked ~ .lbl-menu #line1{
	transform: rotate(140deg);
	background: black;
	top: 10px;

}
#btn-menu:checked ~ .lbl-menu #line2{
	opacity: 0;

}
#btn-menu:checked ~ .lbl-menu #line3{
	transform: rotate(-140deg);
	background: black;
	top: 10px;
}
h1{
	font-weight: 700;
}
.capa{
	width: 100%;
	height: 100vh;
	visibility: hidden;
	background: black;
	opacity: 0;
	position: absolute;
	top: 80px;
	left: 0;
	transition: all .4s ease;
	z-index: 10000;
}
.container-menu{
		position: absolute;
		width: 250px;
		visibility: visible;
		opacity: 1;
		height: 200vh;
		top: -5px;
		left: 0;
		transition: all 500ms ease;
		z-index: 10500;
		transform: translateX(-1000px);
	
		
	}
	#btn-menu:checked ~ .container-menu{
		transform: translateX(-10px);
	}
	#btn-menu:checked ~ .capa{
		visibility: visible;
		opacity: .7;
		transition: opacity .4s ease;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		height: 200%;
		background: white;
		transition: all 500ms ease;
		visibility: visible;
		opacity: 1;
		
	
	

	}

	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 15px;
		color: black;
		margin: 20px;
		transition: all 400ms ease;
	}

.cont1{
	width: 100%;
	height: 550px;
	background-image: url(Cajas.jpg);
	display: flex;
	background-size:cover;
	background-position: center left;
	align-items: center;
	justify-content: center;


}
.cont1 .buttonEnviar{
	background: #479BA5;
	width: 200px;
	padding: 20px;
	border-radius: 50px;
	border: none;
	outline: none;
	color: white;
	font-weight: bold;
	margin: 50px 20px;
	cursor: pointer;


}
.buttonEnviar:hover{
	background: #418A93;
}
.cont1 h2{
	margin: 20px;
}

.content{
	width: 100%;
	height: 600px;
	background-image: url(121.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	padding: 10px;

}
.imagen{
	
	width: 100%;
}
.carrussel-container{
	
	width:100%;
	height: 280px;
	overflow:auto;
	overflow-y: hidden;
	display: grid;
	grid-template-columns: repeat(3, 100%);
	grid-template-rows: 250px;
	grid-column-gap:60px ;


	

	

}
.item-carrusel-1{
	
	width: 250px;
	height: 250px;
	background: lightgray;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	
	
}
.item-carrusel-2{
	width: 250px;
	position: relative;
	height: 250px;
	background: lightgray;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	

}
.item-carrusel-3{
	height: 250px;
	background: lightgray;
	display: flex;
	width: 250px;
	justify-content: center;
	align-items: center;
	margin: auto;
	
}